@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* paleta
f0f0f0 gris claro
f9f5c8 amarillo pastel
5b5b5b gris intermedio
d7545c rojo pardo
94b0a4 verde pastel
44817a verde musgo
*/
*{
   padding: 0;
   margin: 0;
}
a{
   background: #d7545c;
   color: #f9f5c8;
   display: block;
   padding: 1em;
}
body{
   background: #5b5b5b;
   font-family: 'Open Sans';
   font-size: 16px;
}
body > div{
   margin: 0 auto;
   padding: 1em;
   overflow: hidden;
   text-align: center;
   max-width: 980px;
}
h1{
   color: #f0f0f0;   
   padding: 1em auto;
   margin: 1em auto;
}
h2{
   color: #f9f5c8;
}
canvas{
   background: #94b0a4;
   display: inline-block;
   margin: 0 auto;
   vertical-align: middle;
}